* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #5a5a5a transparent;
    user-select: none;
}

body {
    /* font-family: "Inter", sans-serif; */
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #070714;
    background-image:
        radial-gradient(at 0% 0%, rgba(255, 0, 128, 0.25) 0px, transparent 50%),
        radial-gradient(at 100% 0%, rgba(0, 242, 254, 0.1) 0px, transparent 50%),
        radial-gradient(at 50% 100%, rgba(121, 40, 202, 0.2) 0px, transparent 50%);
    background-attachment: fixed;
    color: #ffffff;
    min-height: 100vh;
    min-height: 100dvh;

    background-image: linear-gradient(#00f1fe29, #ff008037),
        linear-gradient(90deg, #ff008030, #00f1fe32, #7928ca24, #ff008034);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: rainbowBorder 3s linear infinite;
}


.myimage {
    position: relative;
    top: 2px;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    align-self: auto;
    border: 2px solid #00f2fe;
    border: 2px solid transparent;
    background-image: linear-gradient(#0a0915, #0a0915),
        linear-gradient(90deg, #ff007f, #00f2fe, #7928ca, #ff007f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: rainbowBorder 3s linear infinite;
}

.top_right {
    display: flex;
    align-items: center;
    gap: 5px;
    /* dono elements ke beech space ke liye */
}

.justifty_cenetr {
    justify-content: center;
}

.align_item_center {
    align-items: center;
}


.flex {
    display: flex;
}

.mini_images {
    width: 12px;
    height: 12px;
}

.mini_images_1 {
    width: 25px;
    height: 25px;
}

.mini_images_2 {
    width: 15px;
    height: 16px;
    margin-left: 15px;
    margin-right: 10px;
}

.mini_images_3 {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.arrow {
    filter: invert(100%);
    width: 20px;
    height: 25px;
    opacity: 90%;
}

.right_left {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.sign_up_btn {
    background: none;
    color: white;
    margin-right: 5px;
}

.card_text_1 {
    font-size: 16px;
    overflow: hidden;
    width: 155px;
}

.card_text_2 {
    font-size: 14px;
}

.no_invert {
    filter: invert(100%) !important;
}

.mini_play {
    filter: invert(0%);
}

.play_btns {
    width: 22px;
    filter: invert(100%);
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
}

.mute_btn {
    width: 20px;
    filter: invert(100%);
}

.no_filter {
    filter: none;
}

.part_1 {
    justify-content: left;
}

.left {
    position: relative;
    width: 350px;
    height: calc(100vh - 2px);
    min-height: calc(100vh - 2px);
    background-color: black;
}

.right {
    position: relative;
    width: calc(100vw - 350px);
    height: calc(100vh - 2px);
}


.logo img {
    width: 110px;
    padding: 10px 25px;
}

.home ul li {
    font-size: 12.5px;
    list-style: none;
    gap: 15px;
    padding: 2px 35px;
}

.text_library {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.your_library {
    display: flex;
    align-items: center;
    padding: 12px 25px 7px 25px;
    font-size: 15px;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.folder_songs_list {
    opacity: 80%;
    width: 91%;
    margin: auto auto auto 7%;
    height: 62vh;
    overflow: auto;
}

.songs {
    overflow-x: hidden;
    background-color: #0c1b21;
    width: 97%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(49 49 42);
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.song_img {
    width: 30px;
    height: calc(100% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 4px;
}

.song_list_left {
    display: flex;
    width: 70%;
}

.center_left {
    font-size: 11.6px;
    padding: 10px 0px 0px 6px;
}

.song_name {
    overflow: hidden;
    height: 8px;
    padding: 6px;
}

.name {
    padding: 0px 0px 0px 6px;
}

.play_left {
    font-size: 12px;
    display: flex;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 15px;
    /* width: auto; */
    width: 80px;
}

.home {
    opacity: 88%;
}

.left_bottum ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    list-style: none;
    position: absolute;
    opacity: 70%;
    bottom: 5px;
    /* left: 20px; */
    justify-content: center;
    width: calc(100% - 2px);
    background-color: balck;
    height: 20px;
}

.left_bottum {
    width: calc(100% - 2px);
    display: flex;
}

.sing_btn {
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    font-size: 13px;
    border: 1px solid white;
    opacity: 90%;
}

.top_content {
    padding: 12px;
    width: calc(100vw - 2px);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin: auto;
}

.top_left {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;

}

.top {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 66px;
    background-color: rgba(3, 43, 34, 0.361);
    border-radius: 20px;
    justify-content: space-between;
    border: 2px solid transparent;
    background-image: linear-gradient(#0a0915, #0a0915),
        linear-gradient(90deg, #ff007f, #00f2fe, #7928ca, #ff007f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: rainbowBorder 3s linear infinite;
}


.menu_btn {
    filter: invert(100%);
    width: 30px;
    margin-top: -2px;
    margin-right: 10px;
}

.logo_section {
    display: flex;
    justify-content: space-between;
}

.close_btn {
    color: wheat;
    width: 30px;
    margin-top: 4px;
    padding: 10px 10px 10px 10px;
}

.play_baar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    position: absolute;
    width: 90%;
    height: 80px;
    bottom: 20px;
    justify-content: center;
    margin-left: 5%;
    border: 2px solid #00f2fe;
    background-image: linear-gradient(#0a0915, #0a0915),
    linear-gradient(180deg, #ff007f, #00f2fe, #7928ca, #ff007f);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: rainbowBorder 3s linear infinite;
    border: 2px solid transparent;
}

.Music_player {
    padding: 15px 30px 15px 30px;
    font-size: 24px;
    text-align: center;

}

.center_part {
    margin: auto;
    width: 85%;
    height: 70%;
    padding: 3%;
}

.folder_list {
    display: flex;
    justify-content: left;
    overflow: auto;
    flex-wrap: wrap;
    padding: 10px 0px 10px 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    width: calc(90% - 40px);
    height: calc(100vh - 280px);
    bottom: 105px;
    margin-left: 5%;
    gap: 25px;
}

.folders {
    margin-top: 10px;
    width: 200px;
    height: 250px;
    background-color: #21dede0d;
    ;
    border-radius: 10px;
    user-select: none;
    /* border: 2px solid transparent; */
    background-image: linear-gradient(#00f1fe1f, #ff008038),
        linear-gradient(180deg, #ff00805f, #00f1fe73, #7928ca8e, #ff008090);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% 100%;
    animation: rainbowBorder 10s linear infinite;
    border: 1px solid white;
}

.playlist_image_frame {
    margin: auto;
    width: 80%;
    height: 64%;
    margin-top: 10px;
    background-image: url("back.jpg");
    background-size: cover;
    border-radius: 10px;
    border: 0.5px solid white;
}

.card_text {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 20px;
    justify-content: center;
    margin-top: 15px;
}


.items {
    flex-wrap: wrap;
    opacity: 88%;
    margin-top: 15px;
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 35px;
}

.part_3,
.part_2,
.part_1 {
    font-size: 14px;
    width: 33.33%;
    height: 35px;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.part_2 {
    justify-content: center;
    gap: 14px;
}

.part_3 {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.song_baar {
    border: 1px solid white;
    position: absolute;
    bottom: 20px;
    margin-left: 5%;
    width: 90%;
    height: 5px;
    background-color: red;
    cursor: pointer;
}

.volume_btn_mute {
    margin-left: -7%;
    margin-right: -7%;
}

.volume_baar {
    margin-bottom: 1%;
    width: 45%;
    height: 4px;
    cursor: pointer;
}

.subfolder_name {
    width: 175px;
    overflow: hidden;
    font-size: 16px;
    height: 18px;
}

.part_2 {
    width: 26%;
}

.part_1 {
    width: 37%;
}

.part_3 {
    width: 37%;
    justify-content: end;
}

.player {
    font-size: 20px;
    padding: 20px 10px 15px 25px;
}

.myname {
    margin-left: 4px;
    margin-top: 7px;
}

.logoname {
    margin-top: 5px;
    margin-left: 0px;
    font-size: 15px;
}

.playlist_text {
    border: 1px solid rgb(97, 91, 91);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 15px;
    width: 80%;
}

@media (max-width: 600px) {
    .folders {
        margin-top: 20px;
        width: 280px;
        height: 370px;
        padding-top: 15px;
    }

    .playlist_image_frame {
        width: 80%;
        height: 70%;
        background-size: cover;
        background-position: center center;
    }

    .card_text_1 {
        font-size: 20px;
    }

    .card_text_2 {
        font-size: 16px;
    }

    .card_text {
        margin-top: -36px !important;
        margin-left: 10px;
    }

    .top {
        top: 5px;
        position: fixed;
        z-index: 1;
        height: 53px !important;
        width: 96% !important;
        margin-left: 2%;
    }
}



@media (max-width: 800px) {
    .left {
        display: none;
        height: auto;
    }

    .song_baar {
        bottom: 20px;
    }

    /* .playlist_text{
        top
    } */

    .top {
        padding: 0px 0px 8px 0px;
        margin-top: 0px;
        position: fixed;
        z-index: 1;
        top: 5px;
        position: fixed;
        height: 53px !important;
        width: 96% !important;
        margin-left: 2%;
    }

    .menu_btn {
        display: block;
    }

    .menu_btn {
        display: flex;
    }

    .close_btn {
        display: flex;
    }


    .items {
        flex-wrap: wrap;
        margin-top: 24px;
    }

    .part_3,
    .part_2,
    .part_1 {
        width: calc(100% - 2px);
    }

    .your_library {
        padding: 4% 6% 3% 7%;
    }

    .part_1 {
        height: 40px;
        width: 100%;
        text-align: center;
    }

    .part_2 {
        gap: 30px !important;
        margin-top: 4px;
    }

    .arrow {
        width: 15px !important;
        height: 15px !important;
        padding-top: 6px;
    }

    .left_bottum {
        margin-bottom: 12px;
    }

    .Music_player {
        margin-top: 65px;
        padding-top: 15px;
        margin-bottom: -11px;
        font-size: 24px;
    }

    .folders {
        display: flex;
        flex-wrap: wrap;
        /* margin: auto; */
    }

    .folder_songs_list {
        height: auto;
        margin: auto auto 40px 7%;
    }

    .right {
        position: absolute;
        min-width: calc(100vw - 2px);
        width: calc(100vw - 2px);
        height: auto;
        min-height: calc(100vh - 2px);
        padding-bottom: 170px;
    }

    .folder_list {
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
        bottom: auto;
        margin-bottom: 10px;
    }

    .play_baar {
        position: fixed;
        left: auto;
        height: 170px;
        bottom: 10px;
    }

    .card_text {
        margin-top: -8px;
        ;
    }

    .part_3 {
        justify-content: center;
        /* gap: 35px; */
        margin-top: 3px;
    }

    .left_bottum ul {
        height: 30px;
        gap: 20px;
    }
}

@keyframes rainbowBorder {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 0%;
    }
}
